 <link rel="stylesheet" href="css/bloglist.css">

 <div class="w3-main">
	<div class="about-bottom main-agile book-form"  style="width:45%;padding:0.5 10px 0 0;float:left;">
	<h2 class="tittle" style="color:#ffb310">List of Blog Posts waiting for approval</h2>
<div class="table-responsive" ng-show="currentUser.role=='Admin'" style="color:#fff">
	
	<table class="table">
			<h3 style="color:#fff" >Recent Posts</h3>
		

		<tr ng-repeat="blogPost in blogsWaitingForApproval | orderBy:'time':true">

			<td style="color:#fff"><a href="#getBlogForApproval/{{blogPost.id}}" style="color:#ffb310">{{blogPost.title}}</a></td>
			<td style="color:#fff">Created By: {{blogPost.createdBy.username}}</td>
			<td style="color:#fff">Created On: {{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
	</tr>

	</table>
</div>
</div>
</div>

 <div class="w3-main">
	<div class="about-bottom main-agile book-form" style="width:45%;padding:0.5 10px 0 0;float:right;">
	<h2 class="tittle" style="color:#ffb310">List of Blog Posts</h2>
<div class="table-responsive" style="color:#fff">
	
	<table class="table">
	
			<h4 style="color:#fff">Recent Posts</h4>
		

		<tr ng-repeat="blogPost in blogsApproved | orderBy:'time':true">

			<td style="color:#fff"><a href="#getBlogDetail/{{blogPost.id}}" style="color:#ffb310">{{blogPost.title}}</a></td>
			<td style="color:#fff">Created By: {{blogPost.createdBy.username}}</td>
			<td style="color:#fff">Created On: {{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
		</tr>

	</table>
</div>
</div>
</div>