<link rel="stylesheet" href="css/blogdetail.css">
<body>
<div class="w3-main">
	<div class="about-bottom main-agile book-form">
	<h2 class="tittle">Blog Comments</h2>
<div class="row">
	<div style="border-color:#ffb310">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div>{{blogPost.title}}</div>
				<span><strong>Created By:</strong>{{blogPost.createdBy.username}}</span>
				<span><strong>On: </strong>{{blogPost.postedOn | date:'medium'}}</span>
			</div>
			<div class="panel-body">{{blogPost.description}}</div>
		</div>
	</div>
</div>
<div>
	<form>
		<textarea rows="3" cols="20" ng-model="blogComment.body"></textarea><br>
		<button type="submit" style="background-color:#ffb310" ng-click="addComment()" value="Post Comment" class="btn btn-primary">Post Comment</button>
	</form>
<div class="row">

<a href="" ng-click="getBlogComments(blogPost.id)" style="color:#ffb310">Show Blog Comments</a>

<ul ng-show="showComments">
	
	<li ng-repeat="comment in blogComments" style="list-style: none;">
		<div style="color:#ffb310">
		{{comment.body}}
			<span><strong>Commented By </strong>{{comment.commentedBy.username}}</span>
			<span><strong>Commented On </strong>{{comment.commentedOn | date:'MM/dd/yyyy'}}</span>
	
		</div>
	</li>
</ul>
</div>
</div>
</div>
</div>
</body>