
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/home.css">
<meta charset="ISO-8859-1">
<title>JobHub</title>
</head>
<body>
<div >
		<div class="container" align="center">
		<h2 style="color:#fff">Welcome to JobHub</h2>
		</div><br>
		<div align="center">
		<p style="color:#fff">This is a collaboration application that allows the students,alumni and employees of an organization interact with each other.</p>
		</div>
		<div class="container">
			<div class="column">
				<div class="col-sm-4">
					<h3 class="bg-primary">Jobs</h3>
					<p style="color:#fff">You can view and apply for new jobs.</p>
					<p style="color:#fff">You can apply for particular job after login</p>
				</div>
				<div class="col-sm-4">
					<h3 class="bg-primary">Blogs</h3>
					<p style="color:#fff">Create new blogs</p>
					<p style="color:#fff">View the existing blogs</p>
				</div>
				<div class="col-sm-4">
					<h3 class="bg-primary">Alumni/Student/Employees</h3>
					<p style="color:#fff">This site is made for alumni,students and employees</p>
					<p style="color:#fff">Allows them to collaborate with each other</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>	