<link rel="stylesheet" href="css/jobtitles.css">
<div style="color:#fff">
Search <input ng-model="jobTitle">
	<table class="table">
		<thead>
			<tr>
				<th style="color:#fff">Job Title</th>
				<th style="color:#fff">Posted On</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="job in jobs | filter:jobTitle ">
				<td><a href="" ng-click="getJobDetail(job.id)">{{job.jobTitle}}</a></td><td>{{job.postedOn | date:'yyyy:MM:dd'}}</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="showdetails">
	<b>Job Details</b><br>
	<b>Job title :</b> {{job.jobTitle}}<br>
	<b>Job Description :</b> {{job.jobDescription}}<br>
	<b>Skills Required :</b> {{job.skillsRequired}}<br>
	<b>Yrs of Experience :</b> {{job.yrsOfExp}}<br>
	<b>Location :</b> {{job.location}}<br>
	<b>Salary :</b> {{job.salary}}<br>
	<b>Company Name :</b> {{job.companyName}}<br>
	</div>
</div>