<link rel="stylesheet" href="css/jobtitles.css">
 
<div class="w3-main" >
	<div class="about-bottom main-agile book-form">
	<h2 class="tittle">LIST OF JOBS</h2>
		<form>
			<input type="text" id="search" ng-model="jobTitle" placeholder="search...">
		</form>
	<table class="table">
		<thead>
			<tr style="color:#fff">
				<th >Job Title</th>
				<th>Posted On</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="job in jobs | filter:jobTitle ">
				<td><a href="" ng-click="getJobDetail(job.id)" style="color:#ffb310">{{job.jobTitle}}</a></td><td style="color:#fff">{{job.postedOn | date:'yyyy:MM:dd'}}</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	<br>
	<div style="color:#fff">
	<div class="w3-main">
	<div class="about-bottom main-agile book-form">
	<div ng-show="showdetails">
	<h2 class="tittle">JOB DETAILS</h2>
	<b>Job title :</b> {{job.jobTitle}}<br>
	<b>Job Description :</b> {{job.jobDescription}}<br>
	<b>Skills Required :</b> {{job.skillsRequired}}<br>
	<b>Yrs of Experience :</b> {{job.yrsOfExp}}<br>
	<b>Location :</b> {{job.location}}<br>
	<b>Salary :</b> {{job.salary}}<br>
	<b>Company Name :</b> {{job.companyName}}<br>
	</div>
</div>
</div>
</div>