<link rel="stylesheet" href="css/suggestedusers.css">
<div class="container">
{{suggestedUsers}}
<table class="table table-striped" style="background-color:#ffb310">
	<thead style="color:#ffb310">

		<tr>
			<th style="color:#fff">Firstname</th>
			<th style="color:#fff">Lastname</th>
			<th style="color:#fff">Role</th>
			<th style="color:#fff">Online</th>
			<th style="color:#fff">Friend Request</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="user in suggestedUsers">
			<td>{{user.firstname}}</td>
			<td>{{user.lastname}}</td>
			<td>{{user.role}}</td>
			<td ng-if="user.online">YES</td>
			<td ng-if="!user.online">NO</td>
		
			<td><a href="" ng-click="friendrequest(user.username)" class="btn btn-default">Send Friend Request</a></td>
			</tr>
	</tbody>
</table>
</div>
