@CHARSET "ISO-8859-1";
body{
	background:url(../images/img02.jpg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	position:relative;
 	font-family: 'Open Sans', sans-serif;

}

h3.bg-primary{
background-color:#ffb310;
}